.root {
}

.no-focus {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.app-pane {
}

.chart {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
}

.selected-chart {
    -fx-border-width: 2px;
    -fx-border-color: #6495ED;
}

#version-status {
    -fx-padding: 2px 8px 2px 8px;
    -fx-background-radius: 6px;
}

#version-status:hover {
    -fx-background-color: #e7e7e7;
}

.release-scroll {
    -fx-fit-to-width: true;
    -fx-pref-width: 350;
    -fx-pref-height: 380;
    -fx-padding: 7;
}

.release-rows {
    -fx-spacing: 2;
}

.release-row-container {
    -fx-spacing: 9;
    -fx-padding: 5 9 5 9;
    -fx-alignment: center-left;
}

.release-row {
    -fx-background-radius: 4;
    -fx-background-color: transparent;
}

.release-row:hover {
    -fx-background-color: #e7e7e7;
}

.pre-release {
    -fx-text-fill: #e88b27;
}

.current-version {
    -fx-font-weight: bold;
}

.clickable {
    -fx-padding: 2px 8px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-background-color: #a8a8a8;
}

.clickable:hover {
    -fx-cursor: hand;
    -fx-background-color: #b8b8b8;
}

.clickable:pressed {
    -fx-background-color: #939393;
}

.clickable#submit-feedback {
    -fx-background-color: linear-gradient(to right, #65a0f8, #65b6f8);
}

.clickable#submit-feedback:hover {
    -fx-background-color: linear-gradient(to right, #65b6f8, #65d1f8);
}

.clickable#submit-feedback:pressed {
    -fx-background-color: #65a0f8;
}


